
$small: 768px;
$medium: 992px;
$large: 1200px;

@media (min-width: $small) { 

	.nav-center{
		float: none;

		li{
			float: none;
			display: inline-block;
		}
	}

 }


@media (max-width: $small) { 

	.navbar-header{
		float: left;
	}
	.navbar-collapse{
		clear: right;
	}
	.why-we-item .estimate{
		text-align: center !important;
	}

}
@media (max-width: $large) {
	.why-we-item span{
		text-align: center !important;
	}
}