
@media (min-width: 768px) {
  // ul.dropdown-menu {
  //   display: block;
  // }
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}

@media (min-width: $small) { 

	.nav-center{
		float: none;
		li{
			float: none;
			display: inline-block;
		}
	}
 }

@media (max-width: 1240px) {
	.nav-center li {
		padding: 0 7px;
	}
}

@media (max-width: $large) {
	.why-we-item span{
		text-align: center !important;
	}
	.email-footer{
			text-indent: 0px !important;
	}
	.popular-catalog-img-wrap{
		min-height: 175px !important;
	}
	.right-catalog-panel .catalog-img-wrap{
		min-height: 200px !important;
	}
	.left-catalog-panel ul{
		margin-left: 0 !important;
	}
	.order-item-img-wrap{
		width: 240px !important;
		height: 240px !important;
	}
	.ordering-form label.user-info,{
		float: none;
		line-height: normal;
		height: 25px;
	}
	.ordering-form input, .ordering-form select{
		float: none;
		height: 45px;
	}
	.ordering-form .checkbox{
		height: auto;
		margin-left: 0;
		& div{
			padding-left: 20px;
			float: none !important;
		}
		label{
			.stylesheet{
				padding: 0;
				margin: 0 auto !important;
			}
		}
		br{
			display: none;
		}
	}
	.del{
		margin: 30px 0 20px !important;
	}
	.ordering-form .datalist-wrap br{
		display: none;
	}
	.order-inf{
		padding: 10px 0 !important;
		float: none !important;
		text-align: center;
		display: block !important;
	}
	.total-price-block.order .total-price-wrap{
		margin: 0 auto !important;
	}

}
@media screen and (min-width: 768px) and (max-width: 992px) { 

	.order-item-info{
		width: auto !important;
	}

}
@media (max-width: $medium) {
	.popular-catalog-img-wrap{
		min-height: 254px !important;
	}
	.left-catalog-panel {
		ul{
			text-align: center !important;
			li{
				display: inline-block;
			}
		}
		
	}
	.pagination-list{
		float: none;
	}
	.catalog-page-pagination a.btn-info{
		float: none;
		margin: 0 auto 20px;
	}
	.ordering-form .datalist-wrap input{
		width: 100%;
	}
}
@media (max-width: $small) { 

	.navbar-header{
		float: left;
	}
	.navbar-collapse{
		clear: right;
	}
	.why-we-item .estimate{
		text-align: center !important;
	}
	.contacts-footer{
		text-align: center;
		span{
			margin: 0 10px;
		}
	}
	.store-btn-wrap{
		text-align: center;
	}
	.payment-ic-wrap,
	.social-icon-wrap{
		margin: 20px 0 0;
		text-align: center;
	}
	.banner-wrap{
		height: 200px;
		a.btn{
			left: -79px;
			padding: 7px;
			bottom: 7px;
		}
	}
	.banner-wrap{
		height: 150px;
		a.btn{
			padding: 5px;
			bottom: 2px; 
		}
	}
	.can-be-us-col{
		padding: 0 20px;
		box-shadow: none;
	}
	.total-price-block{
		text-align: center;
		padding-bottom: 50px;
	}
	.input-group{
		margin: 0 auto;
	}
	.place-order,
	.buy-one-click-wrap{
		float: none !important;
		margin: auto !important;
	}
	.order-item-info{
		width: 50% !important;
	}
	.right-order-list{
		max-width: 400px;
	}
	.ordering h2{
		float: none !important;
		text-align: center;
		margin-bottom: 15px;
	}
	.security{
		margin: 0 auto !important;
		display: block !important;
	}
	form.ordering-form{
		margin: 40px auto;
		max-width: 400px;
	}
	.ordering-form .bottom-info > div{
		width: 100%;
	}

}
@media (max-width: 767px) {

  .navbar-nav  {
	 display: inline;
  }
  .navbar-default .navbar-brand {
	display: inline;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
	color: red;
	background-color: #ccc;
	border-radius: 4px;
	margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
	 color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	 background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
	 border-bottom: 1px solid white; 
	 border-radius: 0;
   }
  .dropdown-menu {
	  padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
	  padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
	  padding-left: 30px;
   }
   li.dropdown.open {
	border: 0px solid red;
   }

}
@media (max-width: 600px) {
	.order-list{
		.order-item-img-wrap, .order-item-info{
			float: none !important;
			margin: 0 auto !important;
		}
		.order-item-info{
			width: auto !important;
		}
	}
}
@media (max-width: $mini) {

	.navbar{
		background-color: #191919;
		.contacts-header{
			display: none;
		}
		.like-header{
			width: 40px;
			.like{
				color: #ffffff;
			}
		}
		.icon-bar{
			background-color: #ffffff !important;
		}
	}
	.navbar-toggle{
		margin-right: 0 !important;
		float: left;
	}
	.navbar-mini{
		.trash{
			width: 60px;
		}
	}


}








