@font-face {
	font-family: 'Conv_PFAgoraSlabPro-Regular';
	src: url('../fonts/PFAgoraSlabPro-Regular.eot');
	src: local('☺'), url('../fonts/PFAgoraSlabPro-Regular.woff') format('woff'), url('../fonts/PFAgoraSlabPro-Regular.ttf') format('truetype'), url('../fonts/PFAgoraSlabPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSlabPro-Medium';
  src: url("../fonts/PFAgoraSlabPro-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSlabPro-Bold';
  src: url("../fonts/PFAgoraSlabPro-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@mixin list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
@mixin transition($transition, $val){
	-webkit-transition: $val $transition;
	-o-transition: $val $transition;
	transition: $val $transition;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
html,body{
	margin: 0;
	padding: 0;
}
.navbar{
	border: 0;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.05);
	.scroll-block{
		position: relative;
		width: 180px;
		float: left;
		background-image: url('../images/gradient.jpg');
		background-position-x: 0%;
		background-size: 100%;
		& img{
			float: right;
		}
	}
}

.right-header-block{
	float: right;
	.contacts-header{
		float: left;
		margin-top: 25px;
		margin-right: 10px;
		.phone-header{
			color: #53585a;
			display: block;
			font-size: 18px;
			font-weight: 700;
			line-height: 18px;
			&:hover{
				text-decoration: none;
			}
		}
		.city{
			color: #939697;
			font-size: 14px;
		}
	}
	.like-header{
		position: relative;
		float: left;
		width: 55px;
		text-align: center;
		line-height: 90px;
		
		.glyphicon{
			color: #fc1d1b;
		}
		span{
			display: inline;
		}
	}
	.trash{
		position: relative;
		width: 90px;
		height: 90px;
		line-height: 90px;
		text-align: center;
		background-image: url('../images/nava.jpg');
		float: right;
		color: #ffffff;
		font-size: 22px;
	}
}
.navbar-toggle{
	clear: right;
}
.nav-center{
	text-align: center;
	line-height: 90px;
	li{
		padding: 0 15px;
		a{
			padding-right: 0;
			padding-left: 0;
		}
		a.px-active{
			border-bottom: 2px solid #FD0003;
		}
	}
}
.search-items{
	margin-top: 80px;
	margin-bottom: 80px;

	.search-items-header{
		margin-bottom: 40px;
		font-size: 36px;
		font-family: 'PFAgoraSlabPro-Light';
	}
	.search-items-input{
		
		&::before{
			position: absolute;
			content: "\f002";
			width: 60px;
			height: 60px;
			font-family: FontAwesome;
			font-size: 26px;
			line-height: 60px;
			text-align: center;
			color: #53585a;
			z-index: 99;
		}
		input{
			font-size: 20px;
			border-color: #e2eaec;
			text-indent: 50px;

		}
		.input-group-btn button{
			width: 90px;
			background-color: #00baff;
			font-size: 18px;
			color: #ffffff;
		}
		input,.input-group-btn button{
			height: 60px;
		}
	}
	.items-tag-wrap{
		text-align: center;
		margin-top: 30px;

		span{
			display: inline-block;
			margin-bottom: 20px;
		}

		 ul{
			@include list-reset;
			display: inline-block;

			li{
				display: inline-block;
				background-color: #a2c0cc;
				padding: 2px 8px;
				border-radius: 3px;
				margin: 0px 2px 20px;

				a{
					color: #ffffff;
					text-decoration: none;
				}
			}
		}
	}

}
.popular-items-wrap{
	.popular-items-header{
		font-size: 36px;
		margin-bottom: 25px;
		font-family: 'PFAgoraSlabPro-Medium';
	}
	ul{
		@include list-reset;
		margin: 0 0 40px;
		li{
			display: inline-block;
			padding: 0 8px;
			.popular-tag{
				color: #0099ff;
				text-decoration: none;
				padding: 8px 0;
				display: inline-block;
			}
			.active-popular-tag{
				color: #53585a;
				font-size: 16px;
			}
		}
	}
}
.popular-items{
	margin-bottom: 60px;
	.popular-items-image-wrap{
		background-image: url("../images/pop-bg.jpg");
		background-repeat: no-repeat;
		background-repeat-y: repeat;
		background-size: 100%;
		max-width: 380px;
		margin: 0 auto;
		padding: 30px 0px;
		img{
			margin: 0 auto;
		}
	}
	.popular-items-info{
		.popular-items-name{
			margin-top: 20px;
		}
		.popular-items-type{
			color: #939697;
		}
		.popular-items-price{
			display: inline-block;
			margin-top: 5px;
		}
	}
}
.inspiration-wrap{
	.inspiration-header{
		font-size: 36px;
		margin-bottom: 25px;
		font-family: 'PFAgoraSlabPro-Medium';
	}
	span{
		padding-right: 15px;
		display: inline-block;
	}
	ul{
		@include list-reset;
		display: inline-block;
		li{
			display: inline-block;
			padding-right: 10px;
		}
	}
}
.q-leader-wrap{
	.q-leader-header{
		font-size: 36px;
		font-family: 'PFAgoraSlabPro-Light';
		margin-bottom: 10px;
	}
	.q-leader-description{
		max-width: 420px;
		margin: 0 auto;
	}
	.q-leader-items{
		max-width: 380px;
		margin: 40px auto 0;
		.q-leader-it-header{
			margin-top: 25px;
			margin-bottom: 10px;
			font-size: 18px;
			font-family: 'PFAgoraSlabPro-Medium';
		}
		p{
			line-height: normal;
		}
	}
}
.about{
	background-color: #f6f6f7;
	margin-top: 85px;
	.about-header{
		font-family: 'PFAgoraSlabPro-Medium';
		font-size: 16px;
		margin-top: 35px;
		margin-bottom: 20px;
	}
	.about-content{
		font-size: 14px;
		margin-bottom: 35px;
	}
}
.why-we{
	background-color: #191919;
	& .row>div:first-child .why-we-item{
		padding: 31px 0;
	}
	.why-we-item{
		padding: 18px 0;
		text-align: center;
		& .estimate,& span{
			position: relative;
			top: 11px;
			font-size: 14px;
			display: inline-block;
			color: #cccccc;
			text-align: left;
		}
		span{
			min-width: 145px;
		}
	}
}
.foo{
	background-color: #202020;
	padding: 35px 0;
	.faq{
		@include list-reset;
		text-align: left;
		margin-bottom: 25px;
		li{
			display: inline-block;
			margin-right: 15px;
			margin-bottom: 10px;
			a{
				text-decoration: none;
				color: #cccccc;
				font-size: 14px;
				@include transition(0.2s, color);
				&:hover{
					color: #ffffff;
				}
			}
		}
	}
	& .apple-btn,
	& .play-btn{
		width: 175px;
		height: 50px;
		background-color: #191919;
		border-radius: 5px;
		line-height: normal;
		color: #ffffff;
		padding: 4px 0 0 10px;
		display: inline-block;
		text-decoration: none;
		margin-bottom: 15px;
		@include transition(0.2s, background-color);
		&:hover{
			background-color: #343434;
		}
		p{
			position: relative;
			top: 4px;
			font-size: 12px;
			display: inline-block;
			text-align: left;
			padding-left: 5px;
			margin: 0px;
			vertical-align: middle;
			span{
				font-size: 20px;
			}
		}
	}
	.contacts-footer{

		span{
			color: #cccccc;
			font-size: 14px;
			font-family: 'PFAgoraSlabPro-Bold';
		}
		.email-footer{
			text-align: right;
		}
	}
}













::-webkit-input-placeholder  { color:#53585a !important; }
:-moz-placeholder { color:#53585a !important; }
:-ms-input-placeholder { color:#53585a !important; }





@import "media-query.scss";