.carousel-row .carousel-item {
  height: 567px;
}

.carousel-row .carousel-item.carousel-item1 {
  background: url(../images/slide1-bg.jpg) no-repeat center center;
}

.carousel-row .carousel-inner {
  padding: 60px 0 88px;
  text-align: center;
}

.carousel-row .carousel-inner img {
  margin-bottom: 15px;
}

.carousel-row .upload-btn, .carousel-row .order-btn {
  display: inline-block;
}

.carousel-row .upload-btn {
  position: relative;
  width: 280px;
  height: 60px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  float: right;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.carousel-row .upload-btn:hover {
  background-color: #ededed;
}

.carousel-row .upload-btn input {
  opacity: 0;
}

.carousel-row .upload-btn label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-bottom: 0;
  color: #53585a;
  padding-left: 53px;
  line-height: 60px;
  font-size: 20px;
  cursor: pointer;
  background: url(../images/icon-photo.png) no-repeat 20px center;
}

.carousel-row .order-btn {
  margin-left: 10px;
  float: left;
}

.carousel-row .order-btn button {
  width: 280px;
  height: 60px;
  border-radius: 5px;
  background-color: #00baff;
  border: 1px solid #00baff;
  color: #fff;
  font-size: 20px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.carousel-row .order-btn button:hover {
  background-color: #00aff0;
  border-color: #00aff0;
}

.carousel-row .order-btn button:focus {
  box-shadow: none;
}

.carousel-row .toggle-row {
  margin-top: -15px;
}

.carousel-row .carousel-toggle {
  width: 25%;
  float: left;
  text-align: center;
  color: #53585a;
  height: 210px;
  padding: 35px 30px 25px;
  background-color: #fff;
  border-bottom: 1px solid #e2eaec;
  border-right: 1px solid #e2eaec;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.carousel-row .carousel-toggle:last-child {
  border-right: none;
}

.carousel-row .carousel-toggle:hover {
  background-color: #f7f7f7;
}

.carousel-row .carousel-toggle.active {
  color: #fff;
  background: url(../images/carousel-button.png) no-repeat center center;
}

.carousel-row .carousel-toggle h2 {
  margin: 0 0 15px 0;
  font-size: 20px;
}

.carousel-row .carousel-toggle p {
  margin-bottom: 25px;
}

.no-padding {
  padding: 0;
}
