@font-face {
	font-family: 'Conv_PFAgoraSlabPro-Regular';
	src: url('../fonts/PFAgoraSlabPro-Regular.eot');
	src: local('☺'), url('../fonts/PFAgoraSlabPro-Regular.woff') format('woff'), url('../fonts/PFAgoraSlabPro-Regular.ttf') format('truetype'), url('../fonts/PFAgoraSlabPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_PFAgoraSlabPro-Medium';
	src: url('../fonts/PFAgoraSlabPro-Medium.eot');
	src: local('☺'), url('../fonts/PFAgoraSlabPro-Medium.woff') format('woff'), url('../fonts/PFAgoraSlabPro-Medium.ttf') format('truetype'), url('../fonts/PFAgoraSlabPro-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_PFAgoraSlabPro-Bold';
	src: url('../fonts/PFAgoraSlabPro-Bold.eot');
	src: local('☺'), url('../fonts/PFAgoraSlabPro-Bold.woff') format('woff'), url('../fonts/PFAgoraSlabPro-Bold.ttf') format('truetype'), url('../fonts/PFAgoraSlabPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_PFAgoraSlabPro-Italic';
	src: url('../fonts/PFAgoraSlabPro-Italic.eot');
	src: local('☺'), url('../fonts/PFAgoraSlabPro-Italic.woff') format('woff'), url('../fonts/PFAgoraSlabPro-Italic.ttf') format('truetype'), url('../fonts/PFAgoraSlabPro-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_PFAgoraSlabPro-Light';
	src: url('../fonts/PFAgoraSlabPro-Light.eot');
	src: local('☺'), url('../fonts/PFAgoraSlabPro-Light.woff') format('woff'), url('../fonts/PFAgoraSlabPro-Light.ttf') format('truetype'), url('../fonts/PFAgoraSlabPro-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
html,body{
	margin: 0;
	padding: 0;
	font-family: 'Conv_PFAgoraSlabPro-Regular';
}
@import "variables.scss";
@import "mixins.scss";

/* NAVIGATION*/
.navbar-big{
	z-index: 9999;
}
.navbar{
	margin-bottom: 0;
	border: 0;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.05);
	.scroll-block{
		position: relative;
		width: 180px;
		float: left;
		background-size: 100%;
		.logo-descr{
			font-size: 10px;
			font-family: 'Conv_PFAgoraSlabPro-Regular';
			line-height: 12px;
			display: inline-block;
			width: 70px;
			position: absolute;
			bottom: 8px;
			left: 8px;
			color: #ffffff;
		}
		& img{
			float: right;
		}
	}
}

.right-header-block{
	float: right;
	.contacts-header{
		float: left;
		margin-top: 25px;
		margin-right: 10px;
		.phone-header{
			color: $grey;
			display: block;
			font-size: 18px;
			font-family: 'Conv_PFAgoraSlabPro-Bold';
			line-height: 18px;
			&:hover{
				text-decoration: none;
			}
		}
		.city{
			color: $grey;
			font-size: 14px;
		}
	}
	.like-header{
		position: relative;
		float: left;
		width: 55px;
		text-align: center;
		line-height: 90px;
		
		.glyphicon{
			color: #fc1d1b;
		}
		span{
			display: inline;
		}
	}
	.trash{
		position: relative;
		width: 90px;
		height: 90px;
		line-height: 90px;
		text-align: center;
		float: right;
		color: #ffffff;
		font-size: 22px;
		background: #f5a01e;
		background: -moz-linear-gradient(-45deg, #f5a01e 0%, #ff0000 30%, #be00aa 100%);
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f5a01e), color-stop(30%,#ff0000), color-stop(100%,#be00aa));
		background: -webkit-linear-gradient(-45deg, #f5a01e 0%,#ff0000 30%,#be00aa 100%);
		background: -o-linear-gradient(-45deg, #f5a01e 0%,#ff0000 30%,#be00aa 100%);
		background: -ms-linear-gradient(-45deg, #f5a01e 0%,#ff0000 30%,#be00aa 100%);
		background: linear-gradient(135deg, #f5a01e 0%,#ff0000 30%,#be00aa 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5a01e', endColorstr='#be00aa',GradientType=1 );
	}
}
.navbar-toggle{
	margin: 22px 26px 0 0;
	.icon-bar{
		width: 35px;
		margin: 5px 0;
	}
}
.nav-center{
	text-align: center;
	line-height: 90px;
	li{
		padding: 0 15px;
		a{
			padding-right: 0;
			padding-left: 0;
			font-size: 18px;
			color: $grey !important;
			font-family: 'Conv_PFAgoraSlabPro-Regular';
			
		}
		a.px-active{
			border-bottom: 2px solid #FD0003;
		}
	}
}
.navbar-toggle{
	border: 0;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover{
	background-color: transparent;
}
.navbar-collapse{
	background-color: #ffffff;
}
.navbar-mini{
	display: none;
	.trash{
		height: 50px;
		line-height: 50px;
	}
	.like-header{
		line-height: 50px;
	}
	.contacts-header{
		margin-top: 0;
		line-height: 50px;
		.phone-header{
			line-height: 50px;
		}
		.city{
			display: none;
		}
	}
	.scroll-block{
		width: 150px;
	}
	.nav-center{
		line-height: 50px;
		a{
			padding: 8px 0px;
		}
	}
	.navbar-toggle{
		margin: 5px 40px 0 0;
		.icon-bar{
			width: 35px;
			margin: 4px 0;
		}
	}
}
/* NAVIGATION END*/

.search-items{
	margin-top: 80px;
	margin-bottom: 80px;

	.search-items-header{
		margin-bottom: 40px;
		font-size: 36px;
		font-family: 'Conv_PFAgoraSlabPro-Regular';
	}
	.search-items-input{
		
		&::before{
			position: absolute;
			content: "\f002";
			width: 60px;
			height: 60px;
			left: 0;
			font-family: FontAwesome;
			font-size: 26px;
			line-height: 60px;
			text-align: center;
			color: $grey;
			z-index: 99;
		}
		input{
			font-family: 'Conv_PFAgoraSlabPro-Light';
			font-size: 20px;
			border-color: #e2eaec;
			text-indent: 50px;

		}
		.input-group-btn button{
			width: 90px;
			background-color: $blue;
			font-size: 18px;
			color: #ffffff;
		}
		input,.input-group-btn button{
			height: 60px;
		}
	}
	.items-tag-wrap{
		text-align: center;
		margin-top: 30px;

		span{
			display: inline-block;
			margin-bottom: 20px;
		}

		 ul{
			@include list-reset;
			display: inline-block;

			li{
				display: inline-block;
				background-color: #a2c0cc;
				padding: 2px 8px;
				border-radius: 3px;
				margin: 0px 2px 20px;

				a{
					color: #ffffff;
					text-decoration: none;
				}
			}
		}
		.btn-info{
			background-color: $blue;
			padding: 14px 44px;
			font-size: 16px;
			margin-top: 10px;
		}
	}
}
.search-items.s-i{
	margin-top: 60px;
	margin-bottom: 55px;
	.items-tag-wrap{
		margin-top: 60px;
	}
}
.popular-items-wrap{

	.popular-items-header{
		font-size: 36px;
		margin-bottom: 25px;
		font-family: 'Conv_PFAgoraSlabPro-Medium';
	}
	ul{
		@include list-reset;
		margin: 0 0 40px;
		li{
			display: inline-block;
			padding: 0 8px;
			.popular-tag{
				color: #0099ff;
				text-decoration: none;
				padding: 8px 0;
				display: inline-block;
			}
			.active-popular-tag{
				color: $grey;
				font-size: 16px;
			}
		}
	}
}
.popular-items{
	margin-bottom: 60px;
	.popular-items-image-wrap{
		position: relative;
		background-image: url("../images/pop-bg.jpg");
		background-repeat: no-repeat;
		background-repeat-y: repeat;
		background-size: 100%;
		max-width: 380px;
		margin: 0 auto;
		padding: 30px 0px;
		img{
			margin: 0 auto;
		}
	}
	.popular-items-info{
		.popular-items-name{
			margin-top: 20px;
			font-size: 20px;
			color: $grey;
		}
		.popular-items-type{
			color: #939697;
			font-size: 14px;
		}
		.popular-items-price{
			display: inline-block;
			font-size: 20px;
		}
	}
}
.inspiration-wrap{
	.inspiration-header{
		font-size: 36px;
		margin-bottom: 25px;
		font-family: 'Conv_PFAgoraSlabPro-Medium';
	}
	.our-hash-tag{
		padding-right: 15px;
		display: inline-block;
	}
	ul{
		@include list-reset;
		display: inline-block;
		li{
			display: inline-block;
			padding-right: 10px;
		}
	}
	.instagram-wrap{
		img{
			margin-top: 30px;
			margin-bottom: 100px;
		}
	}
}
.q-leader-wrap{
	margin-bottom: 25px;
	.q-leader-header{
		font-size: 36px;
		font-family: 'Conv_PFAgoraSlabPro-Light';
		margin-bottom: 10px;
	}
	.q-leader-description{
		max-width: 420px;
		margin: 0 auto;
	}
	.q-leader-items{
		max-width: 380px;
		margin: 40px auto 0;
		.q-leader-it-header{
			margin-top: 25px;
			margin-bottom: 10px;
			font-size: 18px;
			font-family: 'Conv_PFAgoraSlabPro-Regular';
		}
		p{
			line-height: normal;
		}
	}
}
.about{
	background-color: #f6f6f7;
	margin-top: 60px;
	.about-header{
		font-family: 'Conv_PFAgoraSlabPro-Medium';
		font-size: 16px;
		margin-top: 35px;
		margin-bottom: 20px;
	}
	.about-content{
		font-size: 14px;
		margin-bottom: 35px;
	}
}
.why-we{
	background-color: #191919;
	& .row>div:first-child .why-we-item{
		padding: 31px 0;
	}
	.why-we-item{
		padding: 18px 0;
		text-align: center;
		.estimate{
			background: #f5a01e;
			background: -moz-linear-gradient(-45deg, #f5a01e 0%, #ff0000 30%, #be00aa 100%);
			background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f5a01e), color-stop(30%,#ff0000), color-stop(100%,#be00aa));
			background: -webkit-linear-gradient(-45deg, #f5a01e 0%,#ff0000 30%,#be00aa 100%);
			background: -o-linear-gradient(-45deg, #f5a01e 0%,#ff0000 30%,#be00aa 100%);
			background: -ms-linear-gradient(-45deg, #f5a01e 0%,#ff0000 30%,#be00aa 100%);
			background: linear-gradient(135deg, #f5a01e 0%,#ff0000 30%,#be00aa 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5a01e', endColorstr='#be00aa',GradientType=1 );
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-moz-background-clip: text;
			-moz-text-fill-color: transparent;
			line-height: normal;
		}
		& .estimate,& span{
			position: relative;
			top: 11px;
			font-size: 14px;
			display: inline-block;
			color: #cccccc;
			text-align: left;
			font-family: 'Conv_PFAgoraSlabPro-Regular';
		}
		span{
			min-width: 145px;
			margin-left: 8px;
		}
	}
}
.foo{
	background-color: #202020;
	padding: 35px 0;
	.faq{
		@include list-reset;
		text-align: left;
		margin-bottom: 25px;
		li{
			display: inline-block;
			margin-right: 15px;
			margin-bottom: 10px;
			a{
				text-decoration: none;
				color: #cccccc;
				font-size: 14px;
				@include transition(0.2s, color);
				&:hover{
					color: #ffffff;
				}
			}
		}
	}
	.contacts-footer{
		margin-bottom: 35px;
		span{
			display: inline-block;
			color: #cccccc;
			font-size: 14px;
			font-family: 'Conv_PFAgoraSlabPro-Medium';
		}
		.email-footer{
			text-indent: 20px;
			font-family: 'Conv_PFAgoraSlabPro-Light';
		}
	}
	& .apple-btn,
	& .play-btn{
		width: 175px;
		height: 50px;
		background-color: #191919;
		border-radius: 5px;
		line-height: normal;
		color: #ffffff;
		padding: 4px 0 0 10px;
		display: inline-block;
		text-decoration: none;
		margin-bottom: 15px;
		@include transition(0.2s, background-color);
		&:hover{
			background-color: #343434;
		}
		p{
			position: relative;
			top: 4px;
			font-size: 12px;
			display: inline-block;
			text-align: left;
			padding-left: 5px;
			margin: 0px;
			vertical-align: middle;
			span{
				font-size: 20px;
			}
		}
	}
	.payment-ic,
	.soc-icon{
		display: inline-block;
		margin: 0px 0 4px;
	}
	.private-policy{
		margin-top: 25px;
		color: #666666;
		font-size: 12px;
	}
}



/****PAGE 4****/


.banner-wrap{
	height: 300px;
	background-image: url('../images/banner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	@include background-size-cover;
}
.banner-wrap{
	position: relative;
	a.btn{
		position: absolute;
		margin-left: 50%;
		left: -105px;
		bottom: 20px;
		padding: 9px 34px;
		color: $grey;
		font-family: 'Conv_PFAgoraSlabPro-Light';
	}
}
.popular-category-header{
	font-size: 36px;
	font-family: 'Conv_PFAgoraSlabPro-Light';

}
.popular-category-wrap{

	.popular-category-items{
		background-color: #ececec;
		margin: 35px auto 25px;
		padding: 20px;
		max-width: 380px;
		a.btn{
			font-size: 14px;
			font-family: 'Conv_PFAgoraSlabPro-Light';
			color: $grey;
		}
	}
	.popular-category-img-wrap{
		min-height: 240px;
		position: relative;
		img{
			margin: 0 auto;
		}
	}
	.popular-category-name{
		font-size: 20px;
		font-family: 'Conv_PFAgoraSlabPro-Medium';
		color: $grey;
		margin-top: 35px;
		margin-bottom: 10px;
	}
}


/*PAGE 5 ****/

.catalog-page{
	margin-top: 35px;
	.left-catalog-panel{
		ul{
			margin-left: 15px;
			text-align: left;
			list-style: none;
			padding: 15px 0;
			li{
				margin-bottom: 10px;
				a.left-catalog-item.active{
					background-color: $grey;
					color: #ffffff;
				}
				a{
					padding: 7px 10px;
					text-decoration: none;
					color: $grey;
					border-radius: 5px;
					@include transition(background-color, .2s);
					&:hover{
						background-color: #edeeee;
					}
				}
			}
		}
	}
	.right-catalog-panel{
		.right-header{
			color: $grey;
			font-size: 36px;
			font-family: 'Conv_PFAgoraSlabPro-Light';
			margin-bottom: 20px;
		}
		ul{
			@include list-reset;
			margin-bottom: 15px;
			li{
				margin-bottom: 15px;
				display: inline-block;
				a.active{
					background-color: #edeeee;
				}
				a{
					border-radius: 5px;
					padding: 8px;
					color: $grey;
					font-size: 14px;
					text-decoration: none;
				}
			}
		}
		.catalog-items{
			margin: 0 auto 60px;
			max-width: 380px;
		}
		.catalog-img-wrap{
			position: relative;
			background-color: #ececec;
			padding: 20px 10px;
			min-height: 285px;
			.catalog-items-mask{
				opacity: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				margin: -20px 0 0 -10px;
				background-image: url('../images/cat-show1.png');
				background-position: center;
				@include background-size-cover;
				@include transition(opacity, .3s);
				a.btn{
					position: absolute;
					bottom: 20px;
					margin-left: 50%;
					left: -77px;
					padding: 9px 15px;
				}
			}
			img{
				margin: 0 auto;
			}
		}
			.catalog-img-wrap:hover .catalog-items-mask{
				opacity: 1;
			}
		.catalog-items-name{
			font-size: 16px;
			color: $grey;
			margin-top: 20px;
		}
		.items-price{
			margin-top: 8px;
			font-family: 'Conv_PFAgoraSlabPro-Bold';
		}
	}
}
.catalog-page-pagination{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	a.btn-info{
		padding: 13px 67px;
		font-size: 16px;
		background-color: $blue;
		float: right;
		margin-top: 10px;
		@include transition(background-color, .2s);
		&:hover{
			background-color: $blue-hover;
		}
	}
}
.pagination-list{
	float: left;
	padding: 0;
	list-style: none;
	margin: 20px 0;
	li:first-child{
		margin-right: 15px;
	}
	li:last-child a{
		width: auto;
		margin-left: 15px;
		&:hover{
			background-color: transparent;
		}
	}
	li:first-child,li:last-child a{
		color: #a5a7a8;
		border-radius: 0;
	}
	li{
		display: inline-block;
		a{
			text-decoration: none;
			display: inline-block;
			border-radius: 15px;
			text-align: center;
			line-height: 30px;
			width: 30px;
			height: 30px;
			&:hover{
				background-color: #edeeee;
			}
		}
	}
}

/*********MODAL *****/
.modal-width{
	width: 90%;
	margin-top: 4%;
	.modal-content{
		border-radius: 0;
		background-color: #f2f3f4;
		.modal-body{
			.mod-photo-container{
				margin-top: 0;
			}
		}
		.close{
			overflow: hidden;
			width: 30px;
			height: 30px;
			margin-top: 0;
			line-height: 20px;
			position: absolute;
			right: -30px;
			top: -26px;
			font-size: 56px;
			font-weight: normal;
			opacity: 1;
			color: #fff;
			text-shadow: none;
		}
	}
}


/********* 8.html****/

.order-content{
	margin-top: 55px;
	margin-bottom: 60px;
	.order-list{
		.orer-heading{
			margin-bottom: 20px;
			font-size: 32px;
			font-family: 'Conv_PFAgoraSlabPro-Medium';
		}
		.order-item{
			margin-bottom: 60px;
			&:after{
				content: "";
				display: block;
				clear: both;
				height: 0;
			}
		}
		.order-item-img-wrap{
			position: relative;
			width: 300px;
			height: 300px;
			background-color: #ececec;
			padding: 0 20px;
			float: left;
			margin-right: 35px;
			.order-img{
				margin: 0 auto;
			}
		}
		.order-item-info{
			float: left;
			
			.order-i-name{
				margin-top: 15px;
				font-size: 24px;
			}
			.form-group{
				width: 240px;
				margin-bottom: 10px;
				label{
					font-weight: normal;
					font-size: 14px;
					margin-top: 15px;
					margin-bottom: 2px;
				}
				select{
					padding-top: 9px;
					border: 2px solid #e5e5e5;
					border-radius: 4px;
					height: 40px;
					-webkit-appearance: none;
					-moz-appearance: none;
					-ms-appearance: none;
					-o-appearance: none;
					appearance: none;
					background: url(../images/select-arrow.png) no-repeat 95% center;
					&:focus{
						box-shadow: none;
					}
				}
				.checkbox-style{
					margin-top: 2px;
					margin-bottom: 2px;
					label{
						margin-top: 0px;
						padding-left: 0;
						opacity: 1;
						color: #808385;
						display: inline-block;
						&:hover{
							color: #53585a;
						}
						input[type=checkbox]{
							opacity: 0;
							width: 16px;
							height: 16px;
							position: absolute;
							cursor: pointer;
						}
						input[type="checkbox"] + span.stylesheet {
							display: inline-block;
							width: 16px;
							height: 16px;
							margin-right: 5px;
							vertical-align: middle;
							position: relative;
							top: -2px;
							background: url(../images/checkbox-field.png) no-repeat center center;
						}
						input[type="checkbox"]:checked + span.stylesheet {
							background: url(../images/checkbox-checked.png) no-repeat center center;
						}
						input[type="checkbox"]:checked + span.stylesheet + span {
							color: #53585a;
						}
					}
					.icon-info{
						width: 12px;
						height: 12px;
						display: inline-block;
						background: url(../images/info-icon.png) no-repeat center center;
						margin-left: 0;
						cursor: pointer;
						position: relative;
						&:hover .more-info{
							opacity: 1;
							visibility: visible;
						}
						.more-info{
							position: absolute;
							top: -12px;
							-webkit-transform: translate(-50%, -100%);
							-moz-transform: translate(-50%, -100%);
							-ms-transform: translate(-50%, -100%);
							-o-transform: translate(-50%, -100%);
							transform: translate(-50%, -100%);
							opacity: 0;
							visibility: hidden;
							box-shadow: 0 0 10px 1px #aaa;
							width: 200px;
							padding: 10px 15px;
							border-radius: 4px;
							line-height: 16px;
							font-size: 12px;
							z-index: 2;
							background-color: #f2f3f4;
							text-align: center;
							-webkit-transition: all 0.25s ease;
							-moz-transition: all 0.25s ease;
							transition: all 0.25s ease;
							&:after{
								content: '';
								position: absolute;
								border: 10px solid transparent;
								bottom: -20px;
								left: 95px;
								border-top-color: #f2f3f4;
								border-top-width: 10px;
							}
						}
					}
				}
			}
		}
		.order-edit{
			margin-top: 35px;
			a.btn{
				border-color: #e5e5e5;
				color: #a5a7a8;
				font-size: 14px;
				width: 160px;
				height: 40px;
				line-height: 27px;
			}
			.order-delete{
				margin-left: 20px;
			}
		}
	}
}
.can-be-us-col{
	padding: 0 20px 30px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
}
.can-be-us{
	h2{
		text-align: left;
		font-size: 24px;
		margin-top: 30px;
	}
	.can-be-us-wrap{
		max-width: 300px;
		margin: 0 auto;
		.can-be-us-item{
			margin-top: 30px;
		}
		.item-img-wrap{
			padding: 20px;
			border: 1px solid #e5e5e5;
			margin-bottom: 15px;
			img{
				margin: 0 auto;
			}
		}
		.items-name{
			font-size: 14px;
		}
		.items-price{
			font-size: 16px;
			font-family: 'Conv_PFAgoraSlabPro-Bold';
		}
		.add-to-cart{
			width: 160px;
			height: 35px;
			line-height: 25px;
			font-size: 14px;
			background-color: $blue;
			border: 0;
			color: #ffffff;
			display: block;
			margin: 0 auto;
			&:hover{
				background-color: $blue-hover;
			}
		}
	}
	
}
.total-price-block{
	padding-top: 40px;
	padding-bottom: 130px;
	background-color: #f2f3f4;
	.back{
		width: 160px;
		height: 40px;
		line-height: 27px;
		color: $grey;
		margin-bottom: 40px;
	}
	.total-hed{
		font-family: 'Conv_PFAgoraSlabPro-Bold';
		font-size: 40px;
		color: $grey;
		line-height: normal;
		margin-bottom: 5px;
		.total-price{
			color: #cc0033;
		}
	}
	.total-price-wrap{
		.input-group{
			margin-bottom: 20px;
			input{
				border-color: #d9dadb;
				width: 178px;
				height: 40px;
				&::-webkit-input-placeholder  { color:#a5a7a8 !important; }
				&:-moz-placeholder { color:#a5a7a8 !important; }
				&:-ms-input-placeholder { color:#a5a7a8 !important; }
			}
			.input-group-btn{
				float: left;
				button{
					width: 93px;
					height: 40px;
					color: #a5a7a8;
					border-color: #d9dadb;
					text-indent: -3px;
				}
			}
		}
	}
	.place-order{
		background-color: $blue;
		width: 270px;
		height: 80px;
		border: 0;
		color: #fff;
		padding: 0;
		line-height: 80px;
		font-size: 24px;
		float: left;
		@include transition(background-color, .2s);
		&:hover{
			background-color: $blue-hover;
		}
	}
	.buy-one-click-wrap{
		float: left;
		margin-left: 40px;
		height: 80px;
		padding-top: 10px;
		span{
			color: #9fa1a2;
			font-size: 14px;
		}
		.buy-one-click{
			border-color: #d9dadb;
			color: $grey;
			font-size: 14px;
			padding: 0;
			width: 220px;
			height: 40px;
			line-height: 38px;
			text-indent: 10px;
			display: block;
			margin: 5px auto;
		}
	}
}





::-webkit-input-placeholder  { color:$grey !important; }
:-moz-placeholder { color:$grey !important; }
:-ms-input-placeholder { color:$grey !important; }






@import "media-query.scss";