.carousel-row
	.carousel-item
		height: 567px
		&.carousel-item1
			background: url(../images/slide1-bg.jpg) no-repeat center center
			background-size: cover
		&.carousel-item2
			background: url(../images/slide2-bg.jpg) no-repeat center center
			background-size: cover
	.carousel-inner
		padding: 60px 0 88px
		text-align: center
		img
			margin-bottom: 15px
			width: auto !important
			height: auto !important
			margin: 0 auto 15px
		h3
			font-family: 'PFAgoraSlabPro-Thin'
			color: #fff
			font-size: 50px
			margin-top: 0
		button
			color: #1c2423
			width: 120px
			height: 40px
			padding: 10px 0
			background-color: #edbb00
			border-color: #edbb00
			+transition(all $duration ease)
			&:hover
				background-color: lighten(#edbb00, 10%)
				border-color: lighten(#edbb00, 10%)
			&.btn-see
				font-family: 'PFAgoraSlabPro-Light'
				font-size: 16px
				margin-top: 10px
				padding: 0
	.upload-btn, .order-btn
		display: inline-block
	.upload-btn
		position: relative
		width: 280px
		height: 60px
		background-color: #fff
		border-radius: 5px
		margin-right: 10px
		float: right
		+transition(all $duration ease)
		&:hover
			background-color: darken(#fff, 7%)
		input
			opacity: 0
		label
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			margin-bottom: 0
			color: #53585a
			padding-left: 53px
			line-height: 60px
			font-size: 20px
			font-weight: 400
			cursor: pointer
			background: url(../images/icon-photo.png) no-repeat 20px center
	.order-btn
		margin-left: 10px
		float: left
		button
			width: 280px
			height: 60px
			border-radius: 5px
			background-color: #00baff
			border: 1px solid #00baff
			color: #fff
			font-size: 20px
			+transition(all $duration ease)
			&:hover
				background-color: darken(#00baff, 3%)
				border-color: darken(#00baff, 3%)
			&:focus
				box-shadow: none
	.toggle-row
		margin-top: -15px
		z-index: 2
	.carousel-toggle
		width: 25%
		float: left
		text-align: center
		color: #53585a
		height: 210px
		padding: 35px 30px 25px
		background-color: #fff
		border-bottom: 1px solid #e2eaec
		border-right: 1px solid #e2eaec
		cursor: pointer
		//+transition(background-color $duration ease)
		&:last-child
			border-right: none
		&:hover
			background-color: darken(#fff, 3%)
		&.active
			color: #fff
			background: url(../images/carousel-button.png) no-repeat center center
		h2
			margin: 0 0 15px 0
			font-size: 20px
		p
			margin-bottom: 25px
			font-size: 14px
		a
			display: block
			text-decoration: none
			height: 50px
			width: 240px
			max-width: 100%
			padding: 12px 0
			border: 1px solid #e2eaec
			border-radius: 5px
			font-size: 18px
			margin: 0 auto
			+transition(all $duration ease)
			&:hover
				border-color: #00baff
				background-color: #fff
	.owl-prev, .owl-next
		position: absolute
		top: 50%
		+transform(translate(0, -50%))
		width: 32px
		height: 103px
		+transition(all $duration ease)
		&:hover
			opacity: 0.6
	.owl-prev
		background: url(../images/slider-arrow-left.png) no-repeat center center
		left: 30px
	.owl-next
		background: url(../images/slider-arrow-right.png) no-repeat center center
		right: 30px

.no-padding
	padding: 0


@font-face
	font-family: 'PFAgoraSlabPro-Thin'
	src: url('../fonts/PFAgoraSlabPro-Thin.ttf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'PFAgoraSlabPro-Light'
	src: url('../fonts/PFAgoraSlabPro-Light.ttf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'PFAgoraSlabPro-Black'
	src: url('../fonts/PFAgoraSlabPro-Black.ttf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'PFAgoraSlabPro-Medium'
	src: url('../fonts/PFAgoraSlabPro-Medium.ttf')
	font-weight: normal
	font-style: normal

